<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">MiniFacebook</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
       aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="#">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white" href="#"><i class="fas fa-bell"></i> Notifications</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown"
          role="button" data-bs-toggle="dropdown" aria-expanded="false">
            More
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Videos</a></li>
            <li><a class="dropdown-item" href="#">MarketPlace</a></li>
            <li><a class="dropdown-item" href="#">Friends</a></li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-white" href="#"><i class="fas fa-user"></i> {{ loggedUser?.name }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#" (click)="onLogOut()"><i class="fas fa-sign-out-alt"></i> LogOut</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
