.social-post {
  max-width: 600px;
  margin: 20px auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow-wrap: break-word;
  hyphens: auto;
}

.user-avatar {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-position: center;
  background-size: cover;
}

mat-card-title {
  font-size: 30px;
  text-overflow: ellipsis;
}

mat-card-subtitle.date {
  font-size: 12px;
}

mat-card-actions {
  display: flex;
  justify-content: space-between;
}

mat-card-actions button {
  --mat-icon-color: #6F45B9;
}

mat-card img {
  max-height: 20rem;
  object-fit: contain;
}
