<form (submit)="onSubmit()">
  <mat-form-field subscriptSizing="dynamic">
    <mat-label>Username</mat-label>
    <input
      autocomplete="off"
      type="text"
      placeholder="username"
      aria-label="username"
      matInput
      [formControl]="searchQuery"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete
      autoActiveFirstOption
      #auto="matAutocomplete"
      (optionSelected)="onSubmit()"
    >
      @for (option of filteredOptions | async; track option) {
      <mat-option [value]="option">{{ option }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
</form>
