<div class="container">
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
        <h2 class="text-3xl font-bold py-5">
            {{ title }}
        </h2>

        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Email or Phone Number</mat-label>
            <input
                matInput
                formControlName="email"
                placeholder="Enter Email or Phone Number"
            />
            <mat-error *ngIf="form.get('email')?.hasError('required')"
                >Email is required</mat-error
            >
            <mat-error *ngIf="form.get('email')?.hasError('email')"
                >Email needs to be valid</mat-error
            >
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Password</mat-label>
            <input
                matInput
                [type]="showPassword ? 'text' : 'password'"
                placeholder="Enter Password"
                formControlName="password"
                (focus)="onFocus(true)"
                (blur)="onFocus(false)"
            />
            <mat-error *ngIf="form.get('password')?.hasError('required')"
                >Password is required</mat-error
            >

            <ul
                class="error-list"
                *ngIf="
                    isInputFocused &&
                    !form.get('password')?.hasError('required') &&
                    form.get('password')?.hasError('pattern')
                "
            >
                <li *ngIf="form.get('password')?.errors?.['pattern']['count']">
                    count must be above 8
                </li>
                <li *ngIf="form.get('password')?.errors?.['pattern']['number']">
                    must contain number
                </li>
                <li
                    *ngIf="form.get('password')?.errors?.['pattern']['special']"
                >
                    must contain a special character
                </li>
                <li *ngIf="form.get('password')?.errors?.['pattern']['upper']">
                    must contain an upper character
                </li>
                <li *ngIf="form.get('password')?.errors?.['pattern']['lower']">
                    must contain a lower character
                </li>
            </ul>
        </mat-form-field>

        <mat-checkbox
            [checked]="showPassword"
            (change)="showPassword = !showPassword"
        >
            Show Password
        </mat-checkbox>

        <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="form.invalid"
        >
            Sign In
        </button>

        <a href="signup" class="link">Sign up</a>
    </form>
</div>
