@use '@angular/material' as mat;
@use 'styles/_theme-colors.scss' as theme;

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @include mat.dialog-overrides(( actions-alignment: right ));

  @include mat.theme((
    color: (
      theme-type: dark,
      primary: theme.$primary-palette,
      tertiary: theme.$tertiary-palette,
    ),
    typography: Roboto,
    density: 0,
  ));

  // .light {
  //   @include mat.theme((
  //     color: (
  //       theme-type: light,
  //       // primary: mat.$violet-palette,
  //       // tertiary: mat.$orange-palette,
  //     ),
  //     typography: Roboto,
  //     density: 0,
  //   ));
  // }
}

:root {
  background: var(--mat-sys-background);
  color: var(--mat-sys-on-surface);

  --mat-dialog-container-min-width: 0;
  --mat-sys-surface: #1a1a1a;

  --mdc-filled-text-field-active-indicator-height: 0px;
  --mdc-filled-text-field-focus-active-indicator-height: 0px;
}

.custom-card-content {
  display: flex !important;
  gap: 2rem;
  padding-block: 2rem !important;
  flex-direction: column;
}

.mat-mdc-icon-button {
  font-size: 16px !important;
}

.mat-mdc-snack-bar-container {
  // --mdc-snackbar-container-shape: 4px;
  // --mdc-snackbar-container-color: #333333;
  // --mat-snack-bar-button-color: #ffd740;
  --mdc-snackbar-supporting-text-color: #fff;
  --mdc-snackbar-supporting-text-font: Arial, Helvetica, sans-serif;
  // --mdc-snackbar-supporting-text-line-height: 20px;
  --mdc-snackbar-supporting-text-size: 16px;
  // --mdc-snackbar-supporting-text-weight: bold;
  &.snack-bar--error {
    --mdc-snackbar-container-color: #c92323;

  }
  &.snack-bar--success {
    --mdc-snackbar-container-color: #37933c;
  }
  &.snack-bar--info {
    --mdc-snackbar-container-color: #1495db;
  }
  &.snack-bar--default {}
  &.snack-bar--warning {
    --mdc-snackbar-container-color: #e78012;
  }
}
@layer components {
  /* Override or create a custom component class */
  .link > a {
    @apply text-blue-600 underline hover:text-blue-800 hover:no-underline;
  }
}
