.social-post {
  margin: 20px auto;
  min-width: 500px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: black;
}

.container {
  margin-inline: auto;
  padding-inline: 3rem;
}

div {
  --bg-header: #242526;
  --bg-body: #18191a;
  --bg-gradient2-from: #764ba2;
  --bg-gradient2-to: #667eea;
  --bg-gradient3-from: #09203f;
  --bg-gradient3-to: #537895;
}
