<form class="min-w-[35rem] p-4 bg-gradient-to-br from-green-600 to-purple-500" (submit)="onSubmit()" [formGroup]="form">
  <mat-card class="shadow-[0_2px_4px_#0000001a]">
    <mat-card-header class="flex items-center justify-between">
      <button type="button" mat-icon-button (click)="onClose()">
        <mat-icon>close</mat-icon>
      </button>
      <mat-card-title>
        <h1>Edit profile</h1>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content class="h-[70vh] custom-card-content">
      <input hidden #pictureInput type="file" accept="image/*" placeholder="attachment"
        (change)="onFileSelected($event, 'picture')" />

      <input hidden #coverInput type="file" accept="image/*" placeholder="attachment"
        (change)="onFileSelected($event, 'cover')" />

      <div onKeyPress (click)="coverInput.click()"
        class="relative w-full h-40 rounded-md overflow-hidden cursor-pointer group bg-gradient-to-r from-[#764ba2] to-[#667eea]">
        <div class="absolute inset-0 transition-all duration-300 group-hover:bg-black/50 pointer-events-none"></div>

        <img [src]="previews.cover" *ngIf="previews.cover" alt="Cover" draggable="false"
          class="absolute object-cover object-center w-full h-full transition-all duration-300 group-hover:brightness-50" />

        <div
          class="absolute inset-0 flex items-center justify-center text-lg transition-opacity duration-300 opacity-0 group-hover:opacity-100">
          Select a cover image
        </div>
      </div>

      <div class="-mt-16 ml-6">
        <img [src]="previews.picture ?? 'blank-profile-picture.webp'" alt="Profile" (click)="pictureInput.click()"
          draggable="false"
          class="relative z-1 object-cover rounded-full p-1 bg-[#1B1C1D] cursor-pointer aspect-square w-20 transition-all duration-300 hover:brightness-75" />
      </div>

      <mat-form-field subscriptSizing="dynamic">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="Email" />
      </mat-form-field>

      <mat-form-field subscriptSizing="dynamic">
        <mat-label>Phone Number</mat-label>
        <input matInput formControlName="phoneNumber" placeholder="Phone Number" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Bio</mat-label>
        <textarea matInput formControlName="bio" maxlength="256" placeholder="Talk about yourself"></textarea>
        <mat-hint align="start" class="opacity-50">
          What is on your mind?
        </mat-hint>
        <mat-hint align="end">{{ form.get("bio")?.value?.length }} / 256</mat-hint>
      </mat-form-field>
    </mat-card-content>

    <mat-divider></mat-divider>

    <mat-card-actions class="flex justify-end">
      <button mat-raised-button type="submit" color="primary">
        Save
      </button>
    </mat-card-actions>
  </mat-card>
</form>
