<div class="container" [formGroup]="form">
    <h2>{{ title }}</h2>

    <form (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Email or Phone Number</mat-label>
            <input matInput
                   formControlName="email"
                   placeholder="Enter Email or Phone Number" />
            <mat-error *ngIf="form.get('email')?.hasError('required')">Email is required</mat-error>
            <mat-error *ngIf="form.get('email')?.hasError('email')">Email needs to be valid</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Password</mat-label>
            <input matInput
                   [type]="showPassword ? 'text' : 'password'"
                   placeholder="Enter Password"
                   formControlName="password" />
            <mat-error *ngIf="form.get('password')?.hasError('required')">Password is required</mat-error>
            <mat-error *ngIf="form.get('password')?.hasError('pattern')">
                Password needs to be valid:
                <ul>
                    <li *ngIf="form.get('password')?.errors?.['pattern']['count']">count must be above 8</li>
                    <li *ngIf="form.get('password')?.errors?.['pattern']['number']">must contain number</li>
                    <li *ngIf="form.get('password')?.errors?.['pattern']['special']">must contain a special character</li>
                    <li *ngIf="form.get('password')?.errors?.['pattern']['upper']">must contain an upper character</li>
                    <li *ngIf="form.get('password')?.errors?.['pattern']['lower']">must contain a lower character</li>
                </ul>
            </mat-error>
        </mat-form-field>

        <mat-checkbox [checked]="showPassword"
                      (change)="showPassword = !showPassword">
            Show Password
        </mat-checkbox>

        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
            Sign In
        </button>
        <button mat-raised-button color="primary" type="button" (click)="check()">
            Check
        </button>
        <p id="toggleForm">
            <span class="link" id="toggleLink">Sign Up</span>
        </p>
    </form>
</div>
