<mat-toolbar color="primary">
  <button class="title" mat-button routerLink="">FB Mini</button>

  <button
    *ngIf="isAuth"
    mat-raised-button
    color="accent"
    (click)="createPost()"
  >
    + Post
  </button>

  <span class="spacer"></span>

  <app-search-bar *ngIf="isAuth" />

  <span class="spacer"></span>

  <div class="desktop-menu">
    <button
      *ngIf="isAuth"
      mat-button
      routerLink="/home"
      routerLinkActive="active-link"
    >
      Home
    </button>
    <button
      *ngIf="isAuth"
      mat-button
      routerLink="/profile"
      routerLinkActive="active-link"
    >
      Profile
    </button>
    <button mat-button routerLink="/test" routerLinkActive="active-link">
      Test
    </button>
    <button mat-button (click)="logout()" routerLinkActive="active-link">
      Log out
    </button>
  </div>

  <mat-menu #menu="matMenu">
    <button *ngIf="isAuth" mat-menu-item routerLink="/home">Home</button>
    <button *ngIf="isAuth" mat-menu-item routerLink="/profile">Profile</button>
    <button mat-menu-item routerLink="/test">Test</button>
    <button mat-menu-item (click)="logout()">Log out</button>
  </mat-menu>

  <button mat-icon-button [matMenuTriggerFor]="menu" class="mobile-menu">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>
