section {
  --bg-header: #242526;
  --bg-body: #18191a;
  --bg-gradient2-from: #764ba2;
  --bg-gradient2-to: #667eea;
  --bg-gradient3-from: #09203f;
  --bg-gradient3-to: #537895;
}

:host {
  flex-grow: 1;
}
